body {
    position: relative;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    color: #000;
    min-width: 320px;
    overflow-x: hidden;
    height: auto;
    margin: 0;
}

.header {
    width: 100%;
    height: 130px;
}

.header .container1 {
    height: inherit;
    display: flex;
    align-items: center;
}

.header .container2 {
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #000;
}

.header .container3 {
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
    background-color: #000;
}

.header-menu {
    margin-left: 5px;
    padding: 10px;
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

.header-menu li {
    display: inline-block;
}

.header-menu li a{
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    opacity: 0.6;
    padding: 10px;
    transition: all .3s ease-in-out;
}

.header-menu li a:hover {
    opacity: 1;
}

.header-menu a {
    display: inline-block;
    position: relative;
}

.header-menu a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    background: none repeat scroll 0 0 transparent;
    height: 2px;
    width: 0;
    background: #ffffff;
    transition: width 0.6s ease 0s, left 0.6s ease 0s;
}

.header-menu a:hover::after {
    width: 100%;
    left: 0;
}

.header-first1 {
    display: flex;
    flex-flow: row nowrap;
    margin-left:auto;
    margin-right:auto;
}

.header-first {
    display: flex;
    flex-flow: row nowrap;
    margin-left:auto;
    margin-right:auto;
}

.header-second {
    display: flex;
    flex-flow: row nowrap;
}

.buttonEnter {
    border: none;
    margin-left: 15px;
    margin-right: 15px;
    text-decoration: none;
    border-radius: 100px;
    color: #fff;
    background-color: #000;
    padding: 5px 20px;
    padding-top: 5px;
    transition: all .1s ease-out;
}

.buttonEnter p {
    margin-top: 0;
    margin-bottom: 0rem;
}

.button-language,.button-currency {
    border: none;
    margin-left: 15px;
    margin-right: 15px;
    text-decoration: none;
    border-radius: 100px;
    color: #fff;
    background-color: #000;
    padding: 5px 20px;
    padding-top: 5px;
    transition: all .1s ease-out;
}

.button-basket {
    border: none;
    margin-right: 15px;
    text-decoration: none;
    border-radius: 100px;
    color: #fff;
    background-color: #000;
    padding-top: 5px;
    transition: all .1s ease-out;
    margin-top: 0;
    margin-bottom: 0.2px;
}

.button-basket:hover {
    transform: scale(1.05);
}

.buttonEnter:hover {
    transform: scale(1.05);
}

.button2:hover {
    transform: scale(1.05);
}

.header-brand {
    margin-left: 15px;
    font-weight: 700;
    font-size: 30px;
    text-decoration: none;
    color: #000;
    margin-left:auto;
    margin-right:auto;
}

.category-list-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #fff;
}

.category-product {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}


.modal__cart-continue-shopping {
    align-items: center;
    border:none;
    display: flex;
    font-size: 15px;
    justify-content: center;
    letter-spacing: 2px;
    position: relative;
    text-transform: uppercase;
    width: 100%;
    height: 70px;
    background: none;
    border-bottom: 2px solid #ebeef1;
}

.icon__animated {
    transition: all .3s;
}

.modal__cart-continue-shopping>span {
    margin-left: 24px;
}

.modal__cart.modal {
    padding: 0;
    display: none;
}

.modal__cart.modal.active {
    display: flex;
}

.modal, .modal-transition .enter-active .modal-blackout {
    transition: opacity .5s cubic-bezier(.5,0,.5,1);
}

.modal {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    pointer-events: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}

.modal-inside {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
    position: relative;
    width: 100%;
}

.modal-blackout, .modal-close-area {
    height: 100%;
    min-height: 100vh;
    min-width: 100vw;
    width: 100%;
}

.modal-blackout {
    background: rgba(0,0,0,.43);
    left: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    z-index: 1;
}

.modal-close-area {
    position: absolute;
}

.modal__cart-tile.modal-tile {
    align-items: center;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    margin: auto 0 auto auto;
    min-height: 100vh;
    padding: 0 0 120px;
    z-index: 2;
}

.modal__cart-title {
    align-items: center;
    font-size: 38px;
    font-weight: 400;
    padding: 0 18px;
    width: 100%;
}

.modal__cart-title:after {
    background: #000;
    content: "";
    flex: 1 1;
    height: 2px;
    margin-left: 18px;
    margin-top: 6px;
}
.modal__cart-bottom-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 90vw;
    width: 305px;
}
.modal__cart-bottom {
    align-items: center;
    border-top: 2px solid #484848;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    width: 100%;
}

.modal__cart-promo-code {
    border-bottom: 2px solid #ebeef1;
    display: flex;
    flex-direction: column;
    margin-bottom: 33px;
    padding-bottom: 33px;
    position: relative;
    width: 100%;
}

.modal__cart-promo-code-title {
    color: #818d92;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.6ex;
    margin-bottom: 9px;
    text-transform: uppercase;
}

.modal__cart-promo-code-content {
    display: flex;
    height: 36px;
    position: relative;
}

.modal__cart-promo-code-input {
    align-items: center;
    border-radius: 100px;
    display: flex;
    height: 100%;
}
.modal__cart-promo-code-input {
    background: #f4f6f8;
    flex: 1 1;
    padding-left: 15px;
    padding-right: 51px;
    width: 100%;
}


.modal__cart-promo-code-apply {
    background: #000;
    color: #fff;
    flex-shrink: 0;
    font-size: 13px;
    font-weight: 400;
    justify-content: center;
    letter-spacing: 2px;
    margin-left: -36px;
    position: relative;
    text-transform: uppercase;
    transition: all .5s;
    width: 137px;
}
.modal__cart-promo-code-apply, .modal__cart-promo-code-input {
    align-items: center;
    border-radius: 100px;
    display: flex;
    height: 100%;
}


.modal__cart-bottom-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 90vw;
    width: 305px;
}

.modal__cart-total-cost {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.modal__cart-total-cost-title {
    color: #818d92;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
}

.modal__cart-total-cost-value {
    font-size: 25px;
    font-weight: 600;
}

.modal__cart-checkout {
    align-items: center;
    background: #000;
    border-radius: 1000px;
    color: #fff;
    display: flex;
    font-size: 15px;
    font-weight: 400;
    height: 50px;
    justify-content: center;
    letter-spacing: 2px;
    margin-top: 33px;
    position: relative;
    text-transform: uppercase;
    transition: all .5s;
    width: 277px;
}

.footer {
    background-color: #000000;
    padding: 50px 0;
}

.footer-container {
    max-width: 1600px;
    margin:auto;
}

ul {
    list-style: none;
    padding-inline-start: 0px;
}

.row {
    display:flex;
    flex-wrap: wrap;
}

.footer-col {
    width: 30%;
    padding:0 15px;
    box-sizing: border-box;
}

.footer-col h4 {
    font-size:18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom:35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 75px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col1 ul li:not(:last-child) {
    margin-bottom: 0px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col1 ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 10px;
}

.footer-menu-item {
    display: inline-block;
    padding-right: 20px;
}

.footer-menu-item a {
    display: inline-block;
    position: relative;
}

.footer-menu-item a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    background: none repeat scroll 0 0 transparent;
    height: 2px;
    width: 0;
    background: #e91e63;
    transition: width 0.6s ease 0s, left 0.6s ease 0s;
}

.footer-menu-item a:hover::after {
    width: 100%;
    left: 0;
}

.product-name{
    width:300px;
    height:50px
    background-color: #000;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    text-align: center;
}

.product-content {
    display:flex;
    padding-left:50px;
    margin-bottom:100px;
}

.product-slide {
    width:400px;
}

.product-photo {
    width:inherit;
}

.product-photo2 {
    width:inherit;
}

.product-info {
    padding-left:150px;
    width:100%;
}

.price-current1 {
    background: #000;
    color: #fff;
    padding: 15px;
    align-items: center;
    border-radius: 100px;
    display: flex;
    height: 25 px;
    position: relative;
    white-space: nowrap;
    width:100px;
    scale:1.5;
    padding-left:5px;
}

.price-product-info-price {
    padding-left:25px;
}

.category-product-name1 {
    align-items: center;
    background: #000;
    border-radius: 1000px;
    color: #fff;
    display: flex;
    font-size: 15px;
    font-weight: 400;
    height: 50px;
    justify-content: center;
    letter-spacing: 2px;
    position: relative;
    text-transform: uppercase;
    transition: all .5s;
    width: 277px;
    margin-top: 30px;
}

.product-info-sizes-title {
    color: #808392;
    font-size: 16px;
    font-weight: 400;
}

.product-info-sizes-list {
    margin-top: 15px;
    position: relative;
}

.product-info-sizes-list-content {
    display: flex;
    flex-wrap: wrap;
    margin: -4px;
}

.product-info-sizes-size {
    align-items: center;
    border-radius: 50%;
    border:0;
    cursor: pointer;
    display: flex;
    font-size: 18px;
    height: 38px;
    justify-content: center;
    letter-spacing: 0;
    margin: 4px;
    transition: all .5s;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    width: 38px;
}

.product-info-sizes-size {
    background: #fff;
    color: #d7d5d6;
    font-weight: 400;
}

.product-info-sizes-size:focus {
    background: #000;
    color: #fff;
    font-weight: 400;
}

.product-info-sizes-size:hover {
    background: #cac4c4;
    color: #a09399;
}

.product-info-count-title {
    color: #808392;
    font-size: 16px;
    font-weight: 400;
    margin-top:30px;
}

.counter {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-column-gap: 7px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    margin-top:30px;
}

.counter_button {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
    height: 30px;
    border: 1px solid #000;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
}

.counter_button_minus.disabled {
    border: 1px solid #c4c4c4;
    color: #c4c4c4;
    cursor: default;
}

.counter_button_plus.disabled {
    border: 1px solid #c4c4c4;
    color: #c4c4c4;
    cursor: default;
}

.counter_input {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
}

.counter_input input {
    width: 100%;
    background-color: inherit;
    border: none;
    text-align: center;

}

.slider-container {
    max-width: 1200px;
    display: flex;
}

.slider-prev {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30px;
    flex: 0 0 30px;
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    margin-right:30px;
    margin-top: 195px;
    background-color:inherit;
    font-size: 50px;
}

.slider-next {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30px;
    flex: 0 0 30px;
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    margin-left:30px;
    margin-top: 195px;
    background-color:inherit;
    font-size: 50px;
}

.product-slide {
    width: 362px;
    height: 379px;
    margin: 20px auto;
    overflow: hidden;
}

.slide-line {
    width: 1024px;
    height: 256px;
    display: flex;
    position: relative;
    left: 0;
    transition: all ease 1s;
}

.product-photo {
    width: 362px;
    height: 379px;
}



.modal__signin-tile.modal-tile-start.active {
    display: flex;
}
.modal__signin-tile.modal-tile-start {
    display: none;
}

.modal__signin-tile.modal-tile.active {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0;
    max-width: 90vw;
    position: absolute;
    right: 5vw;
    width: 366px;
    padding: 30px;
    margin: 60px auto 0px 0px;
    z-index: 5;

}

.modal__signin-tile.modal-tile{
    display: none;
}


.modal-tile  {
    background: #fff;
    border-radius: 20px;
    margin: 5vw 0;
    position: relative;
    width: 400px;
}

.modal__signin-arrow {
    right: calc((171.219px - 5vw) + 20px);
    background: #ffffff;
    border-radius: 5px;
    height: 30px;
    position: absolute;
    top: -12px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 30px;
}

.modal__signin-classic {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.modal__signin-classic-field:first-child {
    margin-bottom: 20px;
}

.modal__signin-classic-field {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.modal__signin-classic-field-input {
    background: #f4f6f8;
    border-radius: 1000px;
    height: 36px;
    padding: 0 15px;
    width: 100%;
}

input {
    -webkit-appearance: none;
    background: inherit;
    border: none;
    border-radius: 0;
    font-size: 18px;
    font-weight: 500;
}

.modal__signin-classic-field:nth-child(2) {
    margin-bottom: 15px;
}

.modal__signin-classic-field {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.modal__signin-classic-field-label {
    color: #818d92;
    font-size: 15px;
    line-height: 25px;
    text-transform: uppercase;
}

.modal__signin-classic-field-input {
    background: #f4f6f8;
    border-radius: 1000px;
    height: 36px;
    padding: 0 15px;
    width: 100%;
}

.modal__signin-classic-signIn.disabled {
    opacity: .7;
}

.modal__signin-classic-signIn {
    align-items: center;
    background: #000;
    border-radius: 1000px;
    color: #fff;
    display: flex;
    font-size: 15px;
    font-weight: 400;
    height: 40px;
    justify-content: center;
    letter-spacing: 2px;
    margin-top: 30px;
    position: relative;
    text-transform: uppercase;
    transition: opacity .2s;
    width: 165px;
}

.modal__signin-classic-signIn>span {
    line-height: 1em;
}

.modal__signin-classic-signIn-arrow {
    padding-top: 11px;
    fill: #fff;
    margin-left: 12px;
}

.icon {
    height: 32px;
    width: 12px;
}

* {
    box-sizing: border-box;
    scrollbar-width: none;
}

user agent stylesheet
svg:not(:root) {
    overflow: hidden;
}

.modal__signin-classic-signIn-arrow {
    fill: #fff;
    margin-left: 12px;
}

.modal__signin-sign-up {
    cursor: pointer;
    font-size: 15px;
    font-weight: 400;
    margin-top: 25px;
    text-transform: uppercase;
    color: black;
    text-decoration: solid;
}

.modal-close, .modal__signin.modal {
    position: absolute;
}

.modal-close {
    fill: #808392;
    cursor: pointer;
    height: 20px;
    right: 20px;
    top: 20px;
    width: 20px;
}

.icon .cross {
    height: 15px;
    width: 15px;
}

.product-recs {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 50px;
    position: relative;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    z-index: 1;
}

.product-recs-title {
    font-size: 26px;
    font-weight: 600;
    text-transform: uppercase;
}

.product-recs-title>span {
    background: #000;
    color: #ebe6e8;
    margin-left: 7px;
    padding: 9px 15px;
}


.slider-container2 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    max-width: 1562px;
    display: flex;
}

.slider-prev2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30px;
    flex: 0 0 30px;
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    margin-right:30px;
    margin-top: 195px;
    background-color:inherit;
    font-size: 50px;
}

.slider-next2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30px;
    flex: 0 0 30px;
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    margin-left:30px;
    margin-top: 195px;
    background-color:inherit;
    font-size: 50px;
}

.product-slide2 {
    width: 1810px;
    height: 480px;
    margin: 20px auto;
    overflow: hidden;
}

.product-recs-recommendation-price>.price-current {
    background: #000;
    color: #ebe6e8;
    width:120px;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
    text-align: center;
    justify-content: center;
}

.product-recs-recommendation-name {
    text-decoration: none;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
    text-align: center;
    justify-content: center;
}

.rec:hover {
    opacity: 0.83;
}

.price-current, .price-old {
    align-items: center;
    border-radius: 100px;
    display: flex;
    height: 2em;
    position: relative;
    white-space: nowrap;
}

.slide-line2 {
    width: 1024px;
    height: 0px;
    display: flex;
    background: orange;
    position: relative;
    left: 0;
    transition: all ease 1s;
}

.product-photo2 {
    width: 362px;
    height: 379px;
}

.category-product-cover1 {
    display:flex;
    background: #fff;
    border-radius: 29px;
    width: 430px;
    height: 450px;
    -webkit-mask-image: -webkit-radial-gradient(#fff,#000);
    overflow: hidden;
    position: relative;
    border: 0;
    margin: 0;
    padding-top: 0;
    vertical-align: initial;
}

.category-product {
    cursor: default;
}

a {
    color: inherit;
}

.price-category-product-price1 {
    display:flex;
    position: absolute;
}

.price-current1 {
    display:flex;
    border-radius: 0 0 1em 0;
    padding: 0 1em;
    padding-left:25px;
    z-index: 1;
}

.price-current2 {
    display:flex;
    padding: 0 1em;
    z-index: 1;
    background: #000;
    color: #fff;
    align-items: center;
    border-radius: 100px;
    display: flex;
    height: 50 px;
    position: relative;
    white-space: nowrap;
    width:100px;
    scale:1.5;
    justify-content: center;
}

.counter {
    display: inline-flex;
    align-items:center;
    user-select: none;
    column-gap:7px;
}

.counter_button_counter_button_minus {
    display: flex;
    align-items:center;
    user-select: none;
    width=30px;
    flex:0 0 30px;
    height:30px;
    border:1px solid #000;
    border-radius:50%;
    justify-content:center;
    cursor: pointer;
}

.counter_button_counter_button_minus.disabled{
    border:1px solid #c4c4c4;
    color:1px solid #c4c4c4;
    cursor: default;
}

.counter_button_counter_button_plus {
    display: flex;
    align-items:center;
    user-select: none;
    width=30px;
    flex:0 0 30px;
    height:30px;
    border:1px solid #000;
    border-radius:50%;
    justify-content:center;
    cursor: pointer;
}

.category-product-name {
    border-radius: 100px;
    contain: strict;
    cursor: pointer;
    height: 58px;
    margin-top: 20px;
    -webkit-mask-image: -webkit-radial-gradient(#fff,#000);
    overflow: hidden;
    position: relative;
    width: 100%;
    background: 0 0;
    outline: none;
    -webkit-user-select: none;
    border: 0;
    font-family: Futura,sans-serif;
    padding: 0;
    vertical-align: initial;
}

.category-product-name>span:first-child {
    background: #fff;
    border: 2px solid #f1f3f5;
}

.category-product-name>span {
    align-items: center;
    border-radius: inherit;
    display: flex;
    font-size: 18px;
    height: 100%;
    justify-content: center;
    left: 0;
    letter-spacing: 2px;
    position: absolute;
    top: 0;
    width: 100%;
}

.currency-switcher .select-list, .language-switcher .select-list {
}

.select-list {
    margin: 10px;
    max-height: none!important;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 0 30px 0 hsl(228deg 6% 84% / 42%);
    max-height: 256px;
    display: none;
    padding: 8px 0;
    position: absolute;
    
    transition: all .3s;
    z-index: 1000;
}

.select-list-value {
    align-items: center;
    color: #000;
    display: flex;
    font-weight: 500;
    height: 48px;
    justify-content: center;
    line-height: 20px;
    padding: 0 21px;
    position: relative;
    transition: color .3s,background .3s;
}

.select-list button {
    border: none;
    background: none;
}

.select-list-transition-currency>.select-list.active {
    display: flex;
    flex-direction: column;
}

.select-list-transition-language>.select-list.active {
    margin: 40px 0px 0px -90px;
    display: flex;
    flex-direction: column;
}

.price-category-product-price1 {
    display:flex;
    height: 35px;
    align-items: center;
    left: 0;
    position: absolute;
    top: 0;
}

.price-current1 {
    display:flex;
    border-radius: 0 0 1em 0;
    padding: 0 1em;
    padding-left:25px;
    padding-right:85px;
    padding-top:5px;
    z-index: 1;
    align-items: center;
    height: 35px;
}

.category-product {
    display:flex;
    cursor: default;
    filter: drop-shadow(0 0 20px rgba(0,60,120,.06));
    vertical-align: initial;
    text-decoration: none;
}

.category-product-cover1:not(:hover)>.category-product-blackout {
    opacity: 0;
}

.category-product-blackout {
    height: 100%;
    position: absolute;
    transition: opacity .5s;
    width: 100%;
}

.category-product:hover>.category-product-name>span {
    background:#000;
    color:#fff
}

.category-product:hover .category-product-blackout {
    background:#000;
    opacity:0.3;
}

app__modals active{
    display: block;
    border: 0;
    font-family: Futura,sans-serif;
    margin: 0;
    padding: 0;
    vertical-align: initial;
}

html {
    -ms-overflow-style: none;
    -webkit-tap-highlight-color: transparent;
    background: #000;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: .07em;
    scrollbar-width: none;
    touch-action: manipulation;
}

.modal, .modal-transition .enter-active .modal-blackout {
    transition: opacity .5s cubic-bezier(.5,0,.5,1);
}

.modal {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    pointer-events: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}

.modal-inside {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;

    position: relative;

}




.modal-close-area {
    position: absolute;
}

@media only screen and (min-width: 360px){
    .modal__signup-tile1.modal-tile1 {
        padding: 30px;
    }
}


.modal__signup-tile1.modal-tile1 {
    padding: 30px;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0;
    max-width: 90vw;
    width: 366px;
    z-index: 1;
}

.modal-tile1 {
    background: #fff;
    border-radius: 20px;
    position: relative;
    border: 0;
    font-family: Futura,sans-serif;
    vertical-align: initial;
}

.modal__signup-title {
    align-items: center;
    display: flex;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 10px;
    position: relative;
    width: 100%;

}

.modal__signup-title:after, .modal__signup-title:before {
    background: #000;
    content: "";
    display: block;
    flex: 1 1;
    height: 1px;
    margin-top: 2px;
}

.modal__signup-title>span {
    align-items: center;
    display: flex;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 10px;
    position: relative;
    width: 100%;
    border: 0;
    font-family: Futura,sans-serif;
    margin: 0;
    padding: 0;
    vertical-align: initial;
}

.modal__signup-classic {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    border: 0;
    font-family: Futura,sans-serif;
    margin: 0;
    padding: 0;
    vertical-align: initial;
}

.modal__signup-classic-field:first-child {
    margin-bottom: 20px;
}

.modal__signup-classic-field {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 0;
    font-family: Futura,sans-serif;
    margin: 0;
    padding: 0;
    vertical-align: initial;
}

.modal__signup-classic-field-label {
    color: #818d92;
    font-size: 15px;
    line-height: 25px;
    text-transform: uppercase;
}

.modal__signup-classic-field-input {
    background: #f4f6f8;
    border-radius: 1000px;
    height: 36px;
    padding: 0 15px;
    width: 100%;
}

input {
    -webkit-appearance: none;
    border: none;
    font-size: 18px;
    font-weight: 500;
    font-family: Futura,sans-serif;
    margin: 0;
    vertical-align: initial;
}

.modal__signup-classic-field:nth-child(2) {
    margin-bottom: 15px;
}



.modal__signup-classic-field-label {
    color: #818d92;
    font-size: 15px;
    line-height: 25px;
    text-transform: uppercase;
    border: 0;
    font-family: Futura,sans-serif;
    margin: 0;
    padding: 0;
    vertical-align: initial;
}

.modal__signup-classic-sign-up.disabled {
    opacity: .7;
}

.modal__signup-classic-sign-up hoverable disabled {
    cursor: pointer;
    transition: opacity .2s;
}

.modal__signup-classic-sign-up {
    align-items: center;
    background: #000;
    border-radius: 1000px;
    color: #fff;
    display: flex;
    font-size: 15px;
    font-weight: 400;
    height: 40px;
    justify-content: center;
    letter-spacing: 2px;
    margin-top: 30px;
    position: relative;
    text-transform: uppercase;
    width: 270px;
}

button {
    background: 0 0;
    cursor: pointer;
    outline: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.modal__signup-classic-sign-up hoverable disabled {
    outline: none;
    -webkit-user-select: none;
    border: 0;
    font-family: Futura,sans-serif;
    margin: 0;
    padding: 0;
    vertical-align: initial;
}

.modal__signup-classic-sign-up>span {
    line-height: 1em;
}

.modal__signup-classic-sign-up-arrow {
    padding-top: 11px;
    fill: #fff;
    margin-left: 12px;
}

.modal__signup-socials {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    width:217.13px;
    height:72.5px;
    cursor: pointer;
}

.modal__signup-socials-title {
    color: #818d92;
    font-size: 15px;
    height:22.5px;
}

.modal__signup-socials-title>span {
    width:189.13px;
    height:22.5px;
}

.modal__signup-socials-list {
    display: flex;
    margin-top: 10px;
    width:100px;
    height:40px;
}

.modal__signup-socials-item{
    cursor: pointer;
    height: 40px;
    transition: opacity .2s;
    width: 40px;
}

.icon .google, .icon .instagram, .icon .vk {
    height: 40px;
    width: 40px;
}

.modal__signup-socials-item:not(:first-child) {
    margin-left: 20px;
}


.modal__signup-or {
    color: #818d92;
    font-size: 17px;
    line-height: 1ex;
    margin-top: 25px;
    position: relative;
}

.modal__signup-or:before {
    right: calc(100% + 2px);
}

.modal__signup-or:after, .modal__signup-or:before {
    background: #818d92;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 4px;
    width: 12px;
}

.modal__signup-or:after {
    left: calc(100% + 2px);
}

.modal__signup-or:after, .modal__signup-or:before {
    background: #818d92;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 4px;
    width: 12px;
}

.hoverable {
    cursor: pointer;
    transition: opacity .2s;
}

.modal__signup-sign-in {
    font-size: 15px;
    font-weight: 400;
    margin-top: 25px;
    text-transform: uppercase;
}

.icon .cross {
    height: 15px;
    width: 15px
}

::-webkit-scrollbar {
    display: none;
}

::selection {
    background: #9c9eaf;
}

.modal.modal__signup.enter-done.active{
    display: flex;
}

.modal.modal__signup.enter-done{
    display: none;
}

.account-page-title {
    font-weight: 400;
    margin-top: 40px;
    font-size: 2rem;
    width:300px;
    height:50px
    background-color: #000;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
}

.account-page-side {
    width:266px;
    height:832px
    border: 0;
    font-family: Futura,sans-serif;
    margin: 0;
    padding: 0;
    vertical-align: initial;
}

.account-page-content {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
}

.account-page-menu {
    background: #000;
    border-radius: 15px;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 164px;
    justify-content: center;
    padding: 25px;
    width: 100%;
    list-style: none;
}

.account-page-logout, .account-page-menu-item>a {
    align-items: center;
    display: flex;
    color: inherit;
    text-decoration: none;
}

.account-page-menu-item.active>a {
    font-size: 19px;
    font-weight: 500;
}

.account-page-logout {
    background: #000;
    border-radius: 1000px;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    height: 50px;
    justify-content: center;
    letter-spacing: 2px;
    margin-top: 35px;
    position: relative;
    text-transform: uppercase;
    width: 100%;
}

.account-page-logout:hover {
    opacity: 0.6;
}

.account-page-logout>span {
    line-height: 1em;
}

.account-page-page {
    width: 850px;
    flex: 1 1;
    margin-left: 70px;
}

.account__details {
    display: flex;
    flex-wrap: wrap;
}

.account__details-personal-data-header{
    display: flex;
    margin-bottom: 50px;
    width: 100%;
    align-items: baseline;
}

.account__details-personal-data-title{
    font-size: 25px;
    font-weight: 400;
    line-height: 100%;
}

.account__details-personal-data-change{
    border:none;
    border-bottom: 1px dashed #818d92;
    color: #818d92;
    cursor: pointer;
    font-size: 15px;
    line-height: 100%;
    margin-left: 10px;
}

.account__details-personal-data-list {
    width: 120%;
}

.account__details-personal-data-list-content{
    justify-content: space-between;
}

.account__details-personal-data-list-content{
    width: 1000px;
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
    margin: -15px -5px;
}

.account__details-personal-data-item{
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    width: 35%;
}

.account__details-personal-data-item-title{
    color: #818d92;
    font-size: 15px;
    line-height: 25px;
    text-transform: uppercase;
}

.account__details-personal-data-item-input{
    border-bottom: 1px solid #e8ecef;
    pointer-events: none;
}

.account__details-personal-data-item-input.active{
    background: #f4f6f8;
    border-radius: 1000px;
    padding: 0 15px;
    pointer-events: auto;
}

.account__details-personal-data-item-input{
    height: 36px;
    min-width: 200px;
    width: 100%;
}

.account__details-personal-data-item-input1{
    border-bottom: 1px solid #e8ecef;
    pointer-events: none;
}

.account__details-personal-data-item-input1.active{
    background: #f4f6f8;
    border-radius: 1000px;
    padding: 0 15px;
    pointer-events: auto;
}

.account__details-personal-data-item-input1{
    height: 36px;
    min-width: 200px;
    width: 100%;
}

.account__details-delivery-item-input{
    border-bottom: 1px solid #e8ecef;
    pointer-events: none;
}

.account__details-delivery-item-input.active{
    background: #f4f6f8;
    border-radius: 1000px;
    padding: 0 15px;
    pointer-events: auto;
}

.account__details-delivery-item-input{
    height: 36px;
    min-width: 200px;
    width: 100%;
}

.account__details-delivery {
    margin-top: 60px;
    width: 100%;
    order: 4;
}


.account__details-delivery-title{
    font-size: 25px;
    font-weight: 400;
    line-height: 100%;
}

.account__details-delivery-list-content{
    justify-content: space-between;
}

.account__details-delivery-list-content{
    width: 1000px;
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
    margin: -15px -5px;
}

.account__details-delivery-item{
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    width: 35%;
}

.account__details-delivery-item-title{
    color: #818d92;
    font-size: 15px;
    line-height: 25px;
    text-transform: uppercase;
}

.account__details-reset-password {
    margin-top: 60px;
    width: 100%;
    order: 5;
}

.account__details-delivery-header, .account__details-reset-password-header {
    display: flex;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 100%;
    align-items: baseline;
}

.account__details-personal-data-header{
    display: flex;
    margin-bottom: 30px;
    width: 100%;
    align-items: baseline;
}

.account__details-reset-password-title {
    font-size: 25px;
    font-weight: 400;
    line-height: 100%;
}

.account__details-reset-password-list-content {
    justify-content: space-between;
}

.account__details-reset-password-list-content {
    width: 1000px;
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
    margin: -15px -5px;
}

.account__details-reset-password-item {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    width: 35%;
}

.account__details-reset-password-item-title {
    color: #818d92;
    font-size: 15px;
    line-height: 25px;
    text-transform: uppercase;
}

.account__details-delivery-save-changes, .account__details-personal-data-save-changes, .account__details-reset-password-save-changes {
    align-items: center;
    background: #fff;
    border:none;
    color: #fff;
    display: flex;
    font-size: 15px;
    font-weight: 400;
    height: 40px;
    justify-content: center;
    letter-spacing: 2px;
    margin-left: 5px;
    margin-top: 20px;
    position: relative;
    text-transform: uppercase;
    width: 300px;
}

.account__details-delivery-save-changes.active, .account__details-personal-data-save-changes.active, .account__details-reset-password-save-changes.active {
    align-items: center;
    background: #000;
    border-radius: 1000px;
    color: #fff;
    display: flex;
    font-size: 15px;
    font-weight: 400;
    height: 40px;
    justify-content: center;
    letter-spacing: 2px;
    margin-left: 5px;
    margin-top: 20px;
    position: relative;
    text-transform: uppercase;
    width: 300px;
}

.account-link-p{
    margin-left: 15px;
    margin-right: 15px;
    text-decoration: none;
    border-radius: 100px;
    color: #fff;
    background-color: #000;
    padding-top: 5px;
    transition: all .1s ease-out;
}

.account-link-p:hover{
    color: #fff;
}

.account__details-delivery-save-changes:hover {
    opacity: 0.6;
}

.account__details-personal-data-save-changes:hover {
    opacity: 0.6;
}

.account__details-reset-password-save-changes:hover {
    opacity: 0.6;
}

.account,.cart{
    fill: #fff;
    background-color:#000;
    color: #fff;
    height: 21px;
    width: 21px;
}

.header-first{
    fill: #fff;
}

.header-buttons{
    fill: #fff;
}

.booking-page.app-page{
    opacity: 1;
}

@media only screen and (max-width: 1024px){
    .booking-page.app-page{
        min-height: calc(var(--vh,1vh)*100 - 75px);
    }
}



.booking-page, .booking-page-header {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.booking-page {
    background: #fff;
    padding-bottom: 95px;
    position: relative;
    width: 100%;
}

.booking-page-header {
    height: 120px;
    margin-top: 40px;
}


.booking-page-title {
    font-size: 34px;
    width: 376px;
    height: 63px;
    margin: 0;
    padding-top:14.5px;
}

.booking-page-title {
    font-weight: 400;
    text-align: center;
}

@media only screen and (max-width: 1024px){
    .booking-page-content {
        justify-content: center;
        width: 90vw;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 2000px){
    .booking-page-content {
        justify-content: space-between;
        width: 960px;
    }
}

.booking-page-content {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
}

@media only screen and (max-width: 1024px){
    .booking-page__details {
        align-items: center;
        order: 2;
        width: 100%;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 2000px){
    .booking-page__details {
        width: 480px;
    }
}

@media only screen and (min-width: 1024px){
    .booking-page__details-title {
        margin-bottom: 50px;
    }
}


.booking-page__details {
    display: flex;
    flex-direction: column;
    position: relative;
}

@media only screen and (max-width: 1024px){
    .booking-page__details-title {
        margin-bottom: 30px;
        text-align: center;
    }
}

.booking-page__details-title {
    font-size: 28px;
    font-weight: 400;
    line-height: 120%;
}

.booking-page__details-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.booking-page__details-form-item {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.booking-page__details-form-item-title {
    color: #818d92;
    font-size: 15px;
    line-height: 25px;
    text-transform: uppercase;
}

.booking-page__details-form-item-input {
    background: #f4f6f8!important;
    border: none!important;
    border-radius: 1000px!important;
    font-size: 18px!important;
    font-weight: 500!important;
    height: 36px!important;
    padding: 0 15px;
    width: 100%!important;
}

input {
    -webkit-appearance: none;
}

.booking-page__details-form-item:not(:first-child) {
    margin-top: 30px;
}

.invalid-number-message,{
    background: #fff;
    font-size: 13px;
    left: 46px;
    padding: 0 2px;
    position: absolute;
    top: -8px;
    z-index: 1;
}

.form-control {
    letter-spacing: .01rem;
    line-height: 25px;
    margin-bottom: 0!important;
    margin-left: 0;
    margin-top: 0!important;
    outline: none;
    padding-left: 48px;
    position: relative;
}

.booking-page__details-form-item-input {
    background: #f4f6f8!important;
    border: none!important;
    border-radius: 1000px!important;
    font-size: 18px!important;
    font-weight: 500!important;
    height: 36px!important;
    padding: 0 15px;
    width: 100%!important;
}

.booking-page__details-form-item-phone-button {
    background: #f4f6f8!important;
    border: none!important;
    border-bottom-left-radius: 1000px!important;
    border-top-left-radius: 1000px!important;
    height: 36px!important;
}

.selected-flag .flag {
    margin-top: -5px;
    position: absolute;
    top: 50%;
}

.booking-page__details-form-item-phone-button {
    border-radius: 2px;
}

.modal__signin-classic-remember {
    align-items: center;
    display: flex;
    position: relative;
}

@media only screen and (max-width: 1024px){
    .booking-page__details-form-bottom {
        align-items: center;
        flex-direction: column;
        margin-top: 30px;
        width: 100%;
    }
}


.booking-page__details-form-bottom {
    display: flex;
    position: relative;
}

@media only screen and (max-width: 1024px){
    .booking-page__details-next-step {
        order: 2;
    }
}


.booking-page__details-next-step {
    align-items: center;
    background: #000;
    border-radius: 1000px;
    color: #fff;
    display: flex;
    font-size: 15px;
    font-weight: 400;
    height: 50px;
    justify-content: center;
    letter-spacing: 2px;
    position: relative;
    text-transform: uppercase;
    transition: all .5s;
    width: 276px;
}

.button.booking-page__details-next-step {
    background: 0 0;
    cursor: pointer;
    outline: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.booking-page__details-next-step>span {
    line-height: 1em;
}

.booking-page__details-next-step-arrow {
    padding-top: 11px;
    fill: #fff;
    margin-left: 12px;
}

@media only screen and (max-width: 1024px){
    .booking-page__details-step {
        margin-bottom: 25px;
    }
}


.booking-page__details-step {
    font-size: 17px;
    font-weight: 500;
}

.booking-page__details-step>span {
    color: #818d92;
    font-weight: 300;
}

@media only screen and (max-width: 1024px){
    .booking-page__products {
        align-items: center;
        margin-bottom: 60px;
        order: 1;
    }
}


.booking-page__products {
    border-bottom: 2px solid #e8ebee;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    position: relative;
    width: 324px;
}

@media only screen and (max-width: 1024px){
    .booking-page__products-title {
        margin-bottom: 30px;
        text-align: center;
    }
}

@media only screen and (min-width: 1024px){
    .booking-page__products-title {
        margin-bottom: 50px;
    }
}


.booking-page__products-title {
    font-size: 28px;
    font-weight: 400;
    line-height: 120%;
}

.booking-page__products-list, .booking-page__products-tile {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.booking-page__products-tile {
    align-items: center;
    background: #f4f6f8;
    border-radius: 25px;
}

.booking-page__product {
    border-bottom: 1px solid #e0e3e6;
    display: flex;
    justify-content: center;
    padding: 25px 0;
    position: relative;
    width: 100%;
}

.booking-page__product-content {
    width: 262px;
}

.booking-page__product-name {
    display: block;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 8px;
}

.booking-page__product-count, .booking-page__product-size {
    position: relative;
}

.booking-page__product-count-title, .booking-page__product-size-title {
    color: #818d92;
    font-size: 14px;
    line-height: 1.2;
}

.booking-page__product-count-value, .booking-page__product-price, .booking-page__product-size-value {
    font-size: 14px;
    font-weight: 700;
}

.booking-page__product-price {
    margin-top: 8px;
}

.booking-page__products-products-cost {
    margin-top: 40px;
}

.booking-page__products-delivery-cost, .booking-page__products-products-cost {
    color: #818d92;
    font-size: 14px;
    line-height: 30px;
    width: 262px;
    height: 30px;
}

.booking-page__products-delivery-cost-value, .booking-page__products-products-cost-value {
    color: #000;
    font-weight: 700;
    word-spacing: normal;
}

.booking-page__products-delivery-cost:last-child {
    margin-bottom: 40px;
}

.booking-page__products-total-cost {
    line-height: 75px;
    text-align: center;
    width: 100%;
}

.booking-page__products-total-cost-title {
    text-transform: uppercase;
}

.booking-page__products-total-cost-value {
    font-size: 26px;
    font-weight: 600;
    margin-left: 5px;
}

p {
    margin-top: 0;
    margin-bottom: 0px;
}

@media only screen and (min-width: 1024px){
    .booking-page__details-form-bottom {
        align-items: flex-end;
        margin-top: 40px;
    }
}

@media only screen and (min-width: 1024px){
    .booking-page__details-step {
        margin-left: 25px;
    }
}

.modal__cart-checkout a{
    text-decoration: none;
    color: #ffffff;
}

small{
    font-size: 16px;
    display: inline-block;
}

.delete-category-product {
    align-items: center;
    background: #000;
    border-radius: 1000px;
    color: #fff;
    display: flex;
    font-size: 15px;
    font-weight: 400;
    height: 40px;
    justify-content: center;
    letter-spacing: 2px;
    position: relative;
    text-transform: uppercase;
    transition: all .5s;
    width: 277px;
    margin-top: 10px;
}

@media only screen and (min-width: 1024px) and (max-width: 2000px)
    .booking-page__payment {
    width: 495px;
}

.booking-page__payment {
    width: 600px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.booking-page__payment-form-bottom {
    align-items: flex-end;
    margin-top: 40px;
}

@media only screen and (min-width: 1024px)
    .booking-page__payment-title {
    margin-bottom: 50px;
}

.booking-page__payment-title {
    font-size: 28px;
    font-weight: 400;
    line-height: 120%;
}

.booking-page__payment-form {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.booking-page__payment-form-payments {
    grid-gap: 13px;
    display: grid;
    grid-template-columns: repeat(auto-fit,114px);
    width: 100%;
}

.booking-page__payment-form-section-title {
    color: #818d92;
    font-size: 15px;
    grid-column-end: -1;
    grid-column-start: 1;
    line-height: 25px;
    text-transform: uppercase;
}

.booking-page__payment-form-direction {
    align-items: center;
    background: #f4f6f8;
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    height: 114px;
    justify-content: center;
    transition: all .5s;
    width: 114px;
}

.booking-page__payment-form-direction:focus {
    background: #fff;
    border: 1px solid #000;
}

.booking-page__payment-form-direction-image {
    height: 86px;
    object-fit: contain;
    -webkit-user-select: none;
    user-select: none;
    width: 86px;
}

@media only screen and (min-width: 1024px)
    .booking-page__payment-form-bottom {
    align-items: flex-end;
    margin-top: 40px;
}

.booking-page__payment-form-bottom {
    display: flex;
    position: relative;
}

@media only screen and (min-width: 1024px)
    .booking-page__payment-back {
    margin-right: 25px;
}

.booking-page__payment-back {
    border-bottom: 1px dashed #585858;
    color: #585858;
    cursor: pointer;
    font-size: 17px;
    line-height: 15px;
    transition: all .5s;
    margin-right: 10px;
}

.booking-page__payment-pay {
    align-items: center;
    background: #000;
    border-radius: 1000px;
    color: #fff;
    display: flex;
    font-size: 15px;
    font-weight: 400;
    height: 50px;
    justify-content: center;
    letter-spacing: 2px;
    position: relative;
    text-transform: uppercase;
    transition: all .5s;
    width: 276px;
    margin-left: 10 px;
    margin-right: 10 px;
}

.booking-page__payment-pay>span {
    line-height: 1em;
}

.booking-page__payment-pay-arrow {
    padding-top: 11px;
    fill: #fff;
    margin-left: 12px;
}

@media only screen and (min-width: 1024px)
    .booking-page__payment-step {
    margin-left: 25px;
}

.booking-page__payment-step {
    margin-left: 10px;
    font-size: 17px;
    font-weight: 500;
}

.booking-page__payment-step>span {
    color: #818d92;
    font-weight: 300;
}

.account-page-page {
    flex: 1 1;
    margin-left: 70px;
}

.account__orders-title {
    font-size: 25px;
    font-weight: 400;
    line-height: 100%;
}

account__orders-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.account__order {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: #e7e7e7;
    border-radius: 30px;
    padding: 10px;
}

.account__order-item {
    flex-basis: calc(33.33% - 10px);
    margin-bottom: 10px;
    border-radius: 30px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 5px;
}

.account__order-item:last-child {
    margin-right: 0;
}

.account__order-label {
    font-weight: bold;
    white-space: nowrap;
}

.account__order-value {
    display: block;
    white-space: normal;
}

.account__order-date {
    background-color: black;
    color: white;
    border-radius: 30px;
    padding: 5px;
    margin-bottom: 5px;
}

.account__order-details {
    background-color: white;
    border-radius: 30px;
    padding: 5px;
    margin-bottom: 5px;
}

.account__order-delivery {
    background-color: black;
    color: white;
    border-radius: 30px;
    padding: 5px;
    margin-bottom: 5px;
}

.account__order-code {
    display: block;
}

.account__order{
    margin-top: 20px;
}

.account__order-date,
.account__order-details,
.account__order-delivery {
    flex-basis: 300px;
    max-width: 300px;
}

.account__orders-empty {
    font-size: 0px;
    font-weight: 400;
    line-height: 100%;
    opacity: .9;
}

.account__orders-empty.active {
    font-size: 22px;
    font-weight: 400;
    line-height: 100%;
    opacity: .9;
}

.check-payment-button {
    border-radius: 100px;
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: block;
    height: 50px;
    border-color: none;
}

.switcher-currency select {
    padding-top: 6px;
    background-color: black;
    border: none;
    border-radius: 100px;
    color: white;
}

.switcher-currency select option {
  background-color: white;
  color: black;
}

.switcher-currency select:focus {
  outline: none;
  border: none;
}

.no-underline {
    text-decoration: none;
}

.no-underline:hover {
    color: inherit;
    text-decoration: none;
}