{% extends 'shop/base.html' %}

{% block content %}
<h1>Мой аккаунт</h1>
<h3>Персональные данные</h3>
<p>ИМЯ: {{user.first_name}}
<p>ФАМИЛИЯ: {{user.last_name}}
<p>ОТЧЕСТВО: {{user.father_name}}
<p>ЭЛ. ПОЧТА: {{user.email}}
<p>ТЕЛЕФОН: {{user.phone}}
<br>
<br>
<br>
<h3>Адрес доставки</h3>
<p>СТРАНА: {{user.country}}
<p>КРАЙ/ОБЛАСТЬ/РЕГИОН: {{user.region}}
<p>ГОРОД: {{user.city}}
<p>УЛИЦА, ДОМ, КВАРТИРА: {{user.address}}
<p>ПОЧТОВЫЙ ИНДЕКС: {{user.post_index}}
<br>
<br>
<br>
<h3>Пароль</h3>
<p> Тут можно будет изменить пароль
{% endblock %}