{% extends 'shop/base.html' %}

{% block content %}
<selection class="profile_page app-page">
    <h1 class="account-page-title">Мой аккаунт</h1>

    <div class="account-page-content">
        <div class="account-page-side">
            <ul class="account-page-menu">
                <li class="account-page-menu-item hoverable active">
                    <a href="/account">— Личные данные</a></li>
                <li class="account-page-menu-item hoverable">
                    <a href="/my_orders">Мои заказы</a></li>
            </ul>
            <a href="{% url 'logout' %}" >
                <button type="submit" class="account-page-logout hoverable">
                <span>Выйти из аккаунта</span>
            </button>
            </a>

        </div>


        <!--<form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="submit" value="Submit">
        </form>-->

        <div class="account-page-page">
            <div class="account__details">
                <form method="post" class="account__details-personal-data" changing="false">
                    {% csrf_token %}
                    <header class="account__details-personal-data-header">
                        <span class="account__details-personal-data-title">Персональные данные</span>
                        <button class="account__details-personal-data-change" type="button">Изменить</button>
                    </header>

                    <div class="account__details-personal-data-list">
                        <div class="account__details-personal-data-list-content">
                            <div class="account__details-personal-data-item">
                                <p class="account__details-personal-data-item-title">{{ form.first_name.label_tag }}</p>
                                {{ form.first_name }}
                            </div>
                            <div class="account__details-personal-data-item">
                                <p class="account__details-personal-data-item-title">{{ form.last_name.label_tag }}</p>
                                {{ form.last_name }}
                            </div>
                            <div class="account__details-personal-data-item">
                                <p class="account__details-personal-data-item-title">{{ form.father_name.label_tag }}</p>
                                {{ form.father_name }}
                            </div>
                            <div class="account__details-personal-data-item account__details-personal-data-phone-number">
                                <p class="account__details-personal-data-item-title">{{ form.phone.label_tag }}</p>
                                {{ form.phone }}
                            </div>
                            <div class="account__details-personal-data-item">
                                <p class="account__details-personal-data-item-title">{{ form.email.label_tag }}</p>
                                {{ form.email }}
                            </div>
                            <hr>
                        </div>
                    </div>
                    <header class="account__details-delivery-header">
                        <span class="account__details-delivery-title">Адрес доставки</span>
                    </header>
                    <div class="account__details-delivery-list">
                        <div class="account__details-delivery-list-content">
                            <div class="account__details-delivery-item">
                                <p class="account__details-delivery-item-title">{{ form.country.label_tag }}</p>
                                {{ form.country }}
                            </div>
                            <div class="account__details-delivery-item">
                                 <p class="account__details-delivery-item-title">{{ form.city.label_tag }}</p>
                                 {{ form.city }}
                            </div>
                            <div class="account__details-delivery-item">
                                 <p class="account__details-delivery-item-title">{{ form.region.label_tag }}</p>
                                 {{ form.region }}
                            </div>
                            <div class="account__details-delivery-item">
                                 <p class="account__details-delivery-item-title">{{ form.address.label_tag }}</p>
                                 {{ form.address }}
                            </div>
                            <div class="account__details-delivery-item">
                                <p class="account__details-delivery-item-title">{{ form.post_index.label_tag }}</p>
                                 {{ form.post_index }}
                            </div>
                            <hr>
                        </div>
                    </div>
                    <header class="account__details-reset-password-header">
                        <span class="account__details-reset-password-title">Пароль</span>
                    </header>
                    <div class="account__details-reset-password-list">
                        <div class="account__details-reset-password-list-content">
                            <div class="account__details-reset-password-item">
                                <p class="account__details-reset-password-item-title">{{ form.password.label_tag }}</p>
                                {{ form.password }}
                            </div>
                            <div class="account__details-reset-password-item">
                                <p class="account__details-reset-password-item-title">{{ form.password.label_tag }}</p>
                                {{ form.password_confirmation }}
                            </div>
                            <hr>
                        </div>
                    </div>
                    <button class="account__details-reset-password-save-changes hoverable" type="submit"><span>Сохранить изменения</span>
                    </button>
                </form>

                <a href="http://127.0.0.1:8000/chart_page">Статистика</a>

                <script>
                    $('.account__details-personal-data-change').on('click', function () {
                        if (!$('.account__details-personal-data-item-input').hasClass('active')) {
                            $('.account__details-personal-data-item-input').addClass('active');
                            $('.account__details-personal-data-save-changes').addClass('active');
                            $('.account__details-delivery-item-input').addClass('active');
                            $('.account__details-delivery-save-changes').addClass('active');
                            $('.account__details-personal-data-item-input1').addClass('active');
                            $('.account__details-reset-password-save-changes').addClass('active');
                        } else {
                            $('.account__details-personal-data-item-input').removeClass('active');
                            $('.account__details-personal-data-save-changes').removeClass('active');
                            $('.account__details-delivery-item-input').removeClass('active');
                            $('.account__details-delivery-save-changes').removeClass('active');
                            $('.account__details-personal-data-item-input1').removeClass('active');
                            $('.account__details-reset-password-save-changes').removeClass('active');
                        }
                    });

                </script>
            </div>
        </div>
    </div>
</selection>
{% endblock %}