{% extends 'shop/base.html' %}

{% block content %}
<h1>Мой аккаунт</h1>
<h3>Персональные данные</h3>
<p>ИМЯ: {{user.first_name}}
<p>ФАМИЛИЯ: {{user.last_name}}
<p>ОТЧЕСТВО: Добавить позже
<p>ЭЛ. ПОЧТА: {{user.email}}
<p>ЭЛ. ПОЧТА: {{user.email}}
<p>ТЕЛЕФОН: Добавить позже
<br>
<br>
<br>
<h3>Адрес доставки</h3>
<p>СТРАНА: Добавить позже
<p>КРАЙ/ОБЛАСТЬ/РЕГИОН: Добавить позже
<p>ГОРОД: Добавить позже
<p>УЛИЦА, ДОМ, КВАРТИРА: Добавить позже
<p>ПОЧТОВЫЙ ИНДЕКС: Добавить позже
<br>
<br>
<br>
<h3>Пароль</h3>
<p> Тут можно будет изменить пароль
{% endblock %}