{% load shop_tags %}
{% load static %}
<!DOCTYPE html>

<html lang="ru" translate="no">
    <head>
        <meta charset = "UTF-8">
        <meta http-equiv = "X-UA-Compatible" content = "IE=edge">
        <meta name = "viewport" content = "width = device - width, initial-scale = 1.0">
        <title>{{ title }}</title>
        <link rel="icon" href="/ "/>

        <!-- Bootstrap reboot (для сброса стилей) -->
        <link rel="stylesheet" href="{% static 'shop/css/bootstrap-reboot.min.css' %}">

        <!-- Bootstrap сетка -->
        <link rel="stylesheet" href="{% static 'shop/css/bootstrap-grid.min.css' %}">

        <!-- Шрифты с Google Fonts -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

        <!-- Стили сайта -->
        <link rel="stylesheet" href="{% static 'shop/css/styles.css' %}">
    </head>
    <body>
        <nav class = "header">
            <div class = "container1">
                <a href = "{% url 'home' %}" class = "header-brand">WearFit</a>
                <div class = "header-first">
                    {% if request.user.is_authenticated %}
                    <li class="p-2 link-secondary"> {{user.username}} | <a href="{% url 'logout' %}">Выйти</a></li>
                    {% else %}
                        <a class="p-2 link-secondary" href="{% url 'login' %}">Вход</a>
                        <a class="p-2 link-secondary" href="{% url 'registration' %}">Регистрация</a>
                    {% endif %}
                </div>
            </div>
            <div class = "container2">
                <div class = "header-second">
                    <ul class = "header-menu">
                        {% get_categories category_selected %}
                    </ul>
                </div>
                <a href = "#" class = "button2">РУС</a>
                <a href = "#" class = "button2">РУБ</a>
                <a href = "#" class = "button2">Корзина</a>
            </div>
        </nav><br><br><br><br>
        {% block content %}
        {% endblock %}
    </body>
</html>
