{% extends 'shop/base.html' %}

{% block content %}
<div class = "product-name">
    <h2>{{ item }}</h2>
</div>

<div class = "product-content">
    <div class = "product-slide">
        <img src="{{ item.main_photo.url }}" class="product-photo">
    </div>
    <div class = "product-info">
        <div class = "price-product-info-price">
            <div class = "price-current1">
                <span>
                    {{ item.price }}
                    &nbsp
                    РУБ
                </span>
            </div>
        </div>

        <h4>Описание: {{ item.description }}</h4>

        <div class="product-info-sizes">
            <div class="product-info-sizes-title">Выберите размер:</div>
            <div class="product-info-sizes-list">
                <div class="product-info-sizes-list-content">

                        <button type="button" class="product-info-sizes-size"id="smb">S</button>
                    <button type="button" class="product-info-sizes-size">M</button>
                    <button type="button" class="product-info-sizes-size">L</button>
                    <button type="button" class="product-info-sizes-size">XL</button>
                    <button type="button" class="product-info-sizes-size">2XL</button>

                </div>
            </div>
        </div>

        <script>
            document.querySelector('#smb').onclick = function(){
                alert('Не завставляйте меня больше учить джаваскрипт')
            }
        </script>

        <div class="product-info-count-counter">
            <div class="product-info-count-title">Количество:</div>
            <div class = "counter" data-counter>
                <div class = "counter_button counter_button_minus">-</div>
                <div class = counter_input><input value="1" type="text" disabled></div>
                <div class = "counter_button counter_button_plus">+</div>
            </div>
        </div>

        <script>
            const counters = document.querySelectorAll('[data-counter]');

            if (counters) {
                counters.forEach(counter => {
                    counter.addEventListener('click', e => {
                        const target = e.target;

                        if (target.closest('.counter_button')) {
                            if (target.closest('.counter').querySelector('input').value == '' && (target.classList.contains('counter_button_minus') || target.classList.contains('counter_button_plus'))) {
                                target.closest('.counter').querySelector('input').value = 0;
                            }

                            let value = parseInt(target.closest('.counter').querySelector('input').value);

                            if (target.classList.contains('counter_button_plus')) {
                                value++;
                            } else {
                                --value;
                            }

                            if (value <= 0) {
                                value = 0;
                                target.closest('.counter').querySelector('.counter_button_minus').classList.add('disabled')
                            } else {
                                target.closest('.counter').querySelector('.counter_button_minus').classList.remove('disabled')
                            }

                            target.closest('.counter').querySelector('input').value = value;
                        }
                    })
                })
            }
        </script>

        <button type="button" class="category-product-name1">
            <span>Добавить в корзину</span>
        </button>
    </div>
</div>
{% endblock %}