{% extends 'shop/base.html' %}

{% block content %}
<div class = "product-name">
    <h2>{{ item }}</h2>
</div>

<div class = "product-content">
    <div class = "product-slide">
        <img src="{{ item.main_photo.url }}" class="product-photo">
    </div>
    <div class = "product-info">
        <div class = "price-product-info-price">
            <div class = "price-current1">
                <span>
                    {{ item.price }}
                    &nbsp
                    РУБ
                </span>
            </div>
        </div>

        <h4>Описание: {{ item.description }}</h4>

        <div class="product-info-sizes">
            <div class="product-info-sizes-title">Выберите размер:</div>
            <div class="product-info-sizes-list">
                <div class="product-info-sizes-list-content">

                        <button type="button" class="product-info-sizes-size"id="smb">S</button>
                    <button type="button" class="product-info-sizes-size">M</button>
                    <button type="button" class="product-info-sizes-size">L</button>
                    <button type="button" class="product-info-sizes-size">XL</button>
                    <button type="button" class="product-info-sizes-size">2XL</button>

                </div>
            </div>
        </div>

        <script>
            document.querySelector('#smb').onclick = function(){
                alert('Не завставляйте меня больше учить джаваскрипт')
            }
        </script>

        <div class="product-info-count-counter">
            <div class="product-info-count-title">Количество:</div>
            <div class = "counter" data-counter>
                <div class = "counter_button_counter_button_minus">-</div>
                <div class = counter_input><input value="1" type="text" disabled></div>
                <div class = "counter_button_counter_button_plus">+</div>
            </div>
        </div>

        <script src = "js/schet.js"></script>>

        <button type="button" class="category-product-name1">
            <span>Добавить в корзину</span>
        </button>
    </div>
</div>
{% endblock %}