{% extends 'shop/base.html' %}
{% load static %}


{% block content %}

<html lang="en">
    <section class="booking-page app-page">
        <header class="booking-page-header">
            <h1 class="booking-page-title">Оформление заказа</h1>
            <div class="booking-page-id">
                Номер заказа:
                &nbsp;
                77777
            </div>
        </header>
        <div class="booking-page-content">
            <div class="booking-page__details">
                <div class="booking-page__details-title">
                    Введите данные для доставки
                </div>
                <form class="booking-page__details-form">
                    <div class="booking-page__details-form-item">
                        <p class="booking-page__details-form-item-title">Имя</p>
                        <input name="first_name" class="booking-page__details-form-item-input" maxlength="30" type="text" required="" value="">
                    </div>
                    <div class="booking-page__details-form-item">
                        <p class="booking-page__details-form-item-title">Фамилия</p>
                        <input name="last_name" class="booking-page__details-form-item-input" maxlength="30" type="text" required="" value="">
                    </div>
                    <div class="booking-page__details-form-item">
                        <p class="booking-page__details-form-item-title">Отчество</p>
                        <input name="middle_name" class="booking-page__details-form-item-input" maxlength="30" type="text" required="" value="">
                    </div>
                    <div class="booking-page__details-form-item booking-page__details-form-phone-number">
                        <p class="booking-page__details-form-item-title">Телефон</p>
                        <input class="form-control booking-page__details-form-item-input" placeholder="+7 777 777 77 77" type="tel" required="" value="">
                    </div>
                    <div class="booking-page__details-form-item booking-page__details-form-email">
                        <p class="booking-page__details-form-item-title">Эл.Почта</p>
                        <input name="email" class="booking-page__details-form-item-input" maxlength="30" type="email" required="" value="">
                    </div>
                    <div class="booking-page__details-form-item">
                        <p class="booking-page__details-form-item-title">Страна</p>
                        <input name="countrys" class="booking-page__details-form-item-input" maxlength="30" type="text" required="" value="">
                    </div>
                    <div class="booking-page__details-form-item">
                        <p class="booking-page__details-form-item-title">Город</p>
                        <input name="city" class="booking-page__details-form-item-input" maxlength="30" type="text" required="" value="">
                    </div>
                    <div class="booking-page__details-form-item">
                        <p class="booking-page__details-form-item-title">Край/Область/Регион</p>
                        <input name="region" class="booking-page__details-form-item-input" maxlength="30" type="text" required="" value="">
                    </div>
                    <div class="booking-page__details-form-item">
                        <p class="booking-page__details-form-item-title">Улица, Дом, Квартира</p>
                        <input name="address" class="booking-page__details-form-item-input" maxlength="30" type="text" required="" value="">
                    </div>
                    <div class="booking-page__details-form-item">
                        <p class="booking-page__details-form-item-title">Почтовый индекс</p>
                        <input name="zip_code" class="booking-page__details-form-item-input" maxlength="30" type="text" required="" value="">
                    </div>
                    <div class="booking-page__details-form-item">
                        <p class="booking-page__details-form-item-title">Примечание</p>
                        <input name="note" class="booking-page__details-form-item-input" maxlength="30" type="text" value="">
                    </div>
                    <div class="booking-page__details-form-item modal__signin-classic-remember hoverable">
                        <input id="modal__signin-classic-remember-input" name="signature" class="modal__signin-classic-remember-input" type="checkbox">
                        <label class="modal__signin-classic-remember-label" for="modal__signin-classic-remember-input">
                            <div class="modal__signin-classic-remember-label-selector"></div>
                            Добавить роспись
                        </label>
                    </div>
                    <div class="booking-page__details-form-bottom">
                        <button class="booking-page__details-next-step" type="submit">
                            <span>Далее</span>
                            <div class="icon booking-page__details-next-step-arrow icon__animated">
                                <svg class="arrow" xmlns="http://www.w3.org/2000/svg" viewBox="">
                                    <path d="M12 3.7v-.1-.1-.1c0-.1-.1-.1-.1-.2l-3-3C8.7 0 8.3 0 8.1.1s-.1.6 0 .8L10.3 3H.5c-.3 0-.5.2-.5.5s.2.5.5.5h9.8L8.1 6.1c-.1.2-.1.6 0 .8.2.1.6.1.8 0l3-3c0-.1 0-.1.1-.2z"></path>
                                </svg>
                            </div>
                        </button>
                        <div class="booking-page__details-step">Этап&nbsp; 1 &nbsp;<span>из&nbsp;2</span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="booking-page__products">
                <div class="booking-page__products-title">Ваш заказ</div>
                <div class="booking-page__products-tile">
                    <div class="booking-page__products-list">
                        <div class="booking-page__product">
                            <div class="booking-page__product-content">
                                <span class="booking-page__product-name hoverable">Ультра Черная Футболка</span>
                                <div class="booking-page__product-size">
                                    <span class="booking-page__product-size-title">Размер:</span>
                                    <span class="booking-page__product-size-value">&nbsp;XS</span>
                                </div>
                                <div class="booking-page__product-count">
                                    <span class="booking-page__product-count-title">Количество:</span>
                                    <span class="booking-page__product-count-value">&nbsp;1</span>
                                </div>
                                <div class="booking-page__product-price">26.25&nbsp;USD<br></div>
                            </div>
                        </div>
                    </div>
                    <div class="booking-page__products-products-cost">
                        <span class="booking-page__products-products-cost-title">Стоимость товаров:</span>
                        <span class="booking-page__products-products-cost-value">&nbsp;26.25&nbsp;USD</span>
                    </div>
                    <div class="booking-page__products-delivery-cost">
                        <span class="booking-page__products-delivery-cost-title">Стоимость доставки:</span>
                        <span class="booking-page__products-delivery-cost-value">&nbsp;7.5&nbsp;USD</span>
                    </div>
                </div>
                <div class="booking-page__products-total-cost">
                    <span class="booking-page__products-total-cost-title">Итого к оплате:</span>
                    <span class="booking-page__products-total-cost-value">33.75&nbsp;USD</span>
                </div>
            </div>
        </div>
    </section>


</html>
{% endblock %}